mixin banner()
  .c-banner#home
    .c-banner__wrapper
      .c-banner__home
        .c-banner__heading.c-container
          .c-banner__text
            p.c-banner__suptitle caring for life
            h1.c-banner__title Leading the Way in Medical Excellence
            +link({
              href: '#',
              text: 'Our Services',
              linkMode: true,
            })
          .c-banner__goals
            .c-banner__calendar 
              +item-goals({
                style: 'background-color: #1F2B6C; color: #fff;',
                text: 'Book an Appointment',
                svgName: 'calendar'
              })
            .c-banner__team 
              +item-goals({
                style: 'background-color: #BFD2F8; color: #1F2B6C;',
                text: 'Book an Appointment',
                svgName: 'team'
              })
            .c-banner__cash
              +item-goals({
                style: 'background-color: #159EEC; color: #fff;',
                text: 'Book an Appointment',
                svgName: 'cash'
              })
          