//- //- banner
include ./navigation
include ./banner

//- //- content
include ./section-great-place
//- include ./section-our-services
//- include ./section-gallery
//- include ./section-subscribe
include ./section-our-doctors
//- include ./section-contact

//- //- footer
//- include ./footer