//- //- header
include ./navigation
include ./header
include ./banner

//- //- content
include ./section-great-place
include ./section-our-services
include ./section-specialist
include ./section-registry
include ./section-our-doctors
include ./section-news
include ./section-map
include ./section-contact


//- //- footer
include ./footer