//- //- banner
include ./navigation
include ./header
include ./banner

//- //- content
include ./section-great-place
//- include ./section-our-services
include ./section-specialist
//- include ./section-subscribe
include ./section-our-doctors
//- include ./section-
include ./section-contact


//- //- footer
include ./footer