mixin navigation()
  nav.c-navigation
    ul.c-navigation__list#myTopnav
      li.c-navigation__item
        +link({
          href: '#home',
          text: 'Home',
        })
      li.c-navigation__item 
        +link({
          href: '#about',
          text: 'About us',
        })
      li.c-navigation__item 
        +link({
          href: '#services',
          text: 'Services',
        })
      li.c-navigation__item 
        +link({
          href: '#doctors',
          text: 'Doctors',
        })
      li.c-navigation__item 
        +link({
          href: '#news',
          text: 'News',
        })
      li.c-navigation__item 
        +link({
          href: '#contact',
          text: 'Contact',
        })