mixin section-contact()
  .c-section-contact
    .c-section-contact__wrapper.c-container
      p.c-section-contact__suptitle get in touch
      h2.c-section-contact__title Contact
      .c-section-contact__info 
        .c-section-contact__item
          +link({
            href: '#',
            target: '_blank',
            text2: 'Emergency',
            text3: '(237) 681-812-255',
            text4: '(237) 666-331-894',
            endIcon: 'phone',
          })
        .c-section-contact__item
          +link({
              href: '#',
              target: '_blank',
              text2: 'Location',
              text3: '0123 Some place',
              text4: '9876 Some country',
              endIcon: 'local',
            })
        .c-section-contact__item
          +link({
            href: '#',
            target: '_blank',
            text2: 'Email',
            text3: 'fildineeesoe@gmil.com',
            text4: 'myebstudios@gmail.com',
            endIcon: 'mail',
          })
        .c-section-contact__item
          +link({
            href: '#',
            target: '_blank',
            text2: 'Working Hours',
            text3: 'Mon-Sat 09:00-20:00',
            text4: 'Sunday Emergency only',
            endIcon: 'time',
          })