mixin section-specialist()
  .c-section-specialist
    .c-section-specialist__wrapper.c-container
      p.c-section-specialist__suptitle Always Caring
      h2.c-section-specialist__title Our Specialties
      .c-section-specialist__specialists
        .c-section-specialist__item
          +link({
            href: '#',
            target: '_blank',
            text2: 'Neurology',
            endIcon: 'heart-puls',
          })
        .c-section-specialist__item
          +link({
            href: '#',
            target: '_blank',
            text2: 'Bones',
            endIcon: 'heart-puls',
          })
        .c-section-specialist__item
          +link({
            href: '#',
            target: '_blank',
            text2: 'Oncology',
            endIcon: 'heart-puls',
          })
        .c-section-specialist__item
          +link({
            href: '#',
            target: '_blank',
            text2: 'Otorhinolaryngology',
            endIcon: 'heart-puls',
          })
        .c-section-specialist__item
          +link({
            href: '#',
            target: '_blank',
            text2: 'Ophthalmology',
            endIcon: 'heart-puls',
          })
        .c-section-specialist__item
          +link({
            href: '#',
            target: '_blank',
            text2: 'Cardiovascular',
            endIcon: 'heart-puls',
          })
        .c-section-specialist__item
          +link({
            href: '#',
            target: '_blank',
            text2: 'Pulmonology',
            endIcon: 'heart-puls',
          })
        .c-section-specialist__item
          +link({
            href: '#',
            target: '_blank',
            text2: 'Renal Medicine',
            endIcon: 'heart-puls',
          })
        .c-section-specialist__item
          +link({
            href: '#',
            target: '_blank',
            text2: 'Gastroenterology',
            endIcon: 'heart-puls',
          })
        .c-section-specialist__item
          +link({
            href: '#',
            target: '_blank',
            text2: 'Urology',
            endIcon: 'heart-puls',
          })
        .c-section-specialist__item
          +link({
            href: '#',
            target: '_blank',
            text2: 'Dermatology',
            endIcon: 'heart-puls',
          })
        .c-section-specialist__item
          +link({
            href: '#',
            target: '_blank',
            text2: 'Gynaecology',
            endIcon: 'heart-puls',
          })