mixin section-news()
  .c-section-news
    .c-section-news__wrapper.c-container 
      .c-section-news__text
        p.c-section-news__suptitle Better information, Better health
        h2.c-section-news__title News
      .swiper.swipergrid
        .swiper-wrapper
          .swiper-slide
            .c-section-news__item
              +item-news({
                srcImg: './assets/images/new.jpg',
                dateAuthor: 'Monday 05, September 2021 | By Author',
                article: 'This Article’s Title goes Here, but not too long.',
                countSee: '96',
                countLike: '69'
              })
          .swiper-slide
            .c-section-news__item
              +item-news({
                srcImg: './assets/images/news2.jpg',
                dateAuthor: 'Monday 05, September 2021 | By Author',
                article: 'This Article’s Title goes Here, but not too long.',
                countSee: '96',
                countLike: '69'
              })
          .swiper-slide
            .c-section-news__item
              +item-news({
                srcImg: './assets/images/news3.jpg',
                dateAuthor: 'Monday 05, September 2021 | By Author',
                article: 'This Article’s Title goes Here, but not too long.',
                countSee: '96',
                countLike: '69'
              })
          .swiper-slide
            .c-section-news__item
              +item-news({
                srcImg: './assets/images/news4.jpg',
                dateAuthor: 'Monday 05, September 2021 | By Author',
                article: 'This Article’s Title goes Here, but not too long.',
                countSee: '96',
                countLike: '69'
              })
          .swiper-slide
            .c-section-news__item
              +item-news({
                srcImg: './assets/images/news5.jpg',
                dateAuthor: 'Monday 05, September 2021 | By Author',
                article: 'This Article’s Title goes Here, but not too long.',
                countSee: '96',
                countLike: '69'
              })
          .swiper-slide
            .c-section-news__item
              +item-news({
                srcImg: './assets/images/news6.jpg',
                dateAuthor: 'Monday 05, September 2021 | By Author',
                article: 'This Article’s Title goes Here, but not too long.',
                countSee: '96',
                countLike: '69'
              })
          .swiper-slide
            .c-section-news__item
              +item-news({
                srcImg: './assets/images/news7.jpg',
                dateAuthor: 'Monday 05, September 2021 | By Author',
                article: 'This Article’s Title goes Here, but not too long.',
                countSee: '96',
                countLike: '69'
              })
          .swiper-slide
            .c-section-news__item
              +item-news({
                srcImg: './assets/images/news8.jpeg',
                dateAuthor: 'Monday 05, September 2021 | By Author',
                article: 'This Article’s Title goes Here, but not too long.',
                countSee: '96',
                countLike: '69'
              })
          .swiper-slide
            .c-section-news__item
              +item-news({
                srcImg: './assets/images/news9.jpg',
                dateAuthor: 'Monday 05, September 2021 | By Author',
                article: 'This Article’s Title goes Here, but not too long.',
                countSee: '96',
                countLike: '69'
              })
          .swiper-slide
            .c-section-news__item
              +item-news({
                srcImg: './assets/images/news10.jpg',
                dateAuthor: 'Monday 05, September 2021 | By Author',
                article: 'This Article’s Title goes Here, but not too long.',
                countSee: '96',
                countLike: '69'
              })
        .swiper-pagination