mixin section-our-doctors()
  section.c-section-our-doctors
    .c-section-our-doctors__wrapper.c-container
      .c-section-our-doctors__text
        p.c-section-our-doctors__sub-title Trusted Care
        h2.c-section-our-doctors__title Our Doctors
      .swiper
        .swiper-wrapper
          .swiper-slide
            .c-section-our-doctors__item 
              +item-doctor({
                srcImg: './assets/images/doctor1.png',
                name: 'Borodataja Lampochka',
                speciality: 'Ophthalmology',
                linkLinkedIn: 'https://www.linkedin.com/in/coder-warlink-656a82225/',
                linkFacebook: 'https://www.facebook.com/serega.tritenko',
                linkInstagram: 'https://www.instagram.com/seregatritenko/',
              })
          .swiper-slide
            .c-section-our-doctors__item 
              +item-doctor({
                srcImg: './assets/images/doctor2.png',
                name: 'Lysyj Plashc',
                speciality: 'Urology',
                linkLinkedIn: 'https://www.linkedin.com/in/coder-warlink-656a82225/',
                linkFacebook: 'https://www.facebook.com/serega.tritenko',
                linkInstagram: 'https://www.instagram.com/seregatritenko/',
              })
          .swiper-slide
            .c-section-our-doctors__item 
              +item-doctor({
                srcImg: './assets/images/doctor3.png',
                name: 'Umba Jumba',
                speciality: 'Cardiovascular',
                linkLinkedIn: 'https://www.linkedin.com/in/coder-warlink-656a82225/',
                linkFacebook: 'https://www.facebook.com/serega.tritenko',
                linkInstagram: 'https://www.instagram.com/seregatritenko/',
              })
          .swiper-slide
            .c-section-our-doctors__item 
              +item-doctor({
                srcImg: './assets/images/doctor4.jpg',
                name: 'Serial Klinika',
                speciality: 'Ophthalmology',
                linkLinkedIn: 'https://www.linkedin.com/in/coder-warlink-656a82225/',
                linkFacebook: 'https://www.facebook.com/serega.tritenko',
                linkInstagram: 'https://www.instagram.com/seregatritenko/',
              })
          .swiper-slide
            .c-section-our-doctors__item 
              +item-doctor({
                srcImg: './assets/images/doctor5.jpg',
                name: 'Doctor House',
                speciality: 'Oncology',
                linkLinkedIn: 'https://www.linkedin.com/in/coder-warlink-656a82225/',
                linkFacebook: 'https://www.facebook.com/serega.tritenko',
                linkInstagram: 'https://www.instagram.com/seregatritenko/',
              })
          .swiper-slide
            .c-section-our-doctors__item 
              +item-doctor({
                srcImg: './assets/images/doctor6.jpg',
                name: 'Serial Interny',
                speciality: 'Neurology',
                linkLinkedIn: 'https://www.linkedin.com/in/coder-warlink-656a82225/',
                linkFacebook: 'https://www.facebook.com/serega.tritenko',
                linkInstagram: 'https://www.instagram.com/seregatritenko/',
              })
          .swiper-slide
            .c-section-our-doctors__item 
              +item-doctor({
                srcImg: './assets/images/doctor7.jpg',
                name: 'Ukushu Zaruku',
                speciality: 'Neurology',
                linkLinkedIn: 'https://www.linkedin.com/in/coder-warlink-656a82225/',
                linkFacebook: 'https://www.facebook.com/serega.tritenko',
                linkInstagram: 'https://www.instagram.com/seregatritenko/',
              })
          .swiper-slide
            .c-section-our-doctors__item 
              +item-doctor({
                srcImg: './assets/images/doctor8.jpg',
                name: 'Jatvoi Ded',
                speciality: 'Gynaecology',
                linkLinkedIn: 'https://www.linkedin.com/in/coder-warlink-656a82225/',
                linkFacebook: 'https://www.facebook.com/serega.tritenko',
                linkInstagram: 'https://www.instagram.com/seregatritenko/',
              })
          .swiper-slide
            .c-section-our-doctors__item 
              +item-doctor({
                srcImg: './assets/images/doctor9.jpg',
                name: 'Ukushu Zanogu',
                speciality: 'Dermatology',
                linkLinkedIn: 'https://www.linkedin.com/in/coder-warlink-656a82225/',
                linkFacebook: 'https://www.facebook.com/serega.tritenko',
                linkInstagram: 'https://www.instagram.com/seregatritenko/',
              })
        .swiper-pagination