mixin section-great-place()
  section.c-section-great-place
    .c-section-great-place__wrapper.c-container
      .c-section-great-place__description
        p.c-section-great-place__subtitle Welcome to Meddical
        h2.c-section-great-place__title A Great Place to Receive Care
        p.c-section-great-place__text Lorem ipsum dolor sit amet, consectetur 
          | adipiscing elit. Quisque placerat scelerisque tortor ornare ornare. Convallis felis vitae tortor augue. Velit nascetur proin massa in. Consequat faucibus porttitor enim et.
        .c-section-great-place__btn 
          +link({
            href: '#',
            text: 'Learn More',
            endIcon: 'arrow'
          })
      .c-section-great-place__img 
        +image({
          src: ' ./assets/images/Blackdoctors.png',
          alt: 'doctors'
        })