@font-face {
  font-family: "yeseva-one-regular";
  src: url("./assets/fonts/yeseva-one/YesevaOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "work-sans-regular";
  src: url("./assets/fonts/work-sans/WorkSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "work-sans-bold";
  src: url("./assets/fonts/work-sans/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "work-sans-medium";
  src: url("./assets/fonts/work-sans/WorkSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #fff;
  line-height: 23px;
  font-size: 16px;
  color: #000;
}
body.overflow {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.icon {
  display: inline-block;
  stroke: currentColor;
  fill: currentColor;
  height: 1em;
  width: 1em;
}
.icon:not(.has-stroke) {
  stroke-width: 0;
}

*::-moz-selection {
  background-color: rgba(191, 210, 248, 0.3);
}

*::selection {
  background-color: rgba(191, 210, 248, 0.3);
}

*::-webkit-scrollbar {
  border-radius: 10px;
  position: relative;
  z-index: 999;
  width: 6px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(191, 210, 248, 0);
  background-color: rgba(21, 158, 236, 0.6);
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 3px #159eec;
  background-color: #159eec;
  outline: none;
}

.bg-overlay {
  background-color: black;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  visibility: hidden;
  cursor: pointer;
  z-index: 95;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.bg-overlay.show {
  visibility: visible;
  opacity: 0.5;
}

.l-common {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}

.c-container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
@media (max-width: 767px) {
  .c-container {
    padding: 0 10px;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
a:hover {
  background-color: transparent;
  color: #00B1B1;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img,
svg {
  width: 100%;
  height: 100%;
}

.e-logo {
  font-family: "yeseva-one-regular", cursive;
  line-height: 42px;
  font-size: 36px;
  display: inline-block;
  flex-direction: row;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 767px) {
  .e-logo {
    display: none;
  }
}
.e-logo:hover {
  transform: scale(1.1);
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.e-logo__text1 {
  color: #1F2B6C;
}
@media (max-width: 767px) {
  .e-logo__text1 {
    color: #BFD2F8;
  }
}
.e-logo__text2 {
  color: #159EEC;
}
@media (max-width: 767px) {
  .e-logo__text2 {
    color: #fff;
  }
}

.e-icon {
  height: 100%;
  width: 100%;
  fill: none;
}

.e-link {
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
}
.e-link--btn {
  font-family: "Work Sans", sans-serif;
  background-color: #BFD2F8;
  border-radius: 22px;
  font-weight: 500;
  padding: 13px 35px;
  color: #1F2B6C;
}
.e-link--btn:hover {
  background-color: #BFD2F8;
  color: #00B1B1;
}
.e-link--arrow-style {
  color: #159EEC;
  padding: 10px;
}
.e-link--arrow-style:hover .e-link--easy-btn {
  stroke: #00B1B1;
}
.e-link--easy-btn {
  stroke: #1F2B6C;
  margin-left: 10px;
  max-height: 10px;
  max-width: 10px;
}
.e-link--btn-profile {
  align-items: center;
  fill: #BFD2F8;
  display: flex;
  height: 12px;
  width: 12px;
}
.e-link--profile {
  padding: 6px;
}
.e-link--profile:hover svg {
  fill: #00B1B1;
}
.e-link--burger-icon {
  display: none;
}
.e-link--view-profile {
  padding: 12px 0;
  display: block;
}

#active {
  font-weight: 600;
  color: #BFD2F8;
}
@media (max-width: 767px) {
  #active {
    color: #1F2B6C;
  }
}

.e-burger-menu {
  display: none;
}
.e-burger-menu__bar {
  background-color: #fff;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 20px;
  margin: 5px auto;
  display: block;
  height: 3px;
  width: 25px;
}
@media (max-width: 767px) {
  .e-burger-menu {
    cursor: pointer;
    display: block;
  }
  .e-burger-menu.active .e-burger-menu__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .e-burger-menu.active .e-burger-menu__bar:nth-child(2) {
    opacity: 0;
  }
  .e-burger-menu.active .e-burger-menu__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.e-header-info__wrapper {
  display: flex;
}
.e-header-info__svg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 40px;
  max-width: 40px;
}
@media (max-width: 767px) {
  .e-header-info__svg {
    max-height: 17px;
    max-width: 17px;
  }
}
.e-header-info__svg:hover {
  -webkit-animation: svg-opacity 1s infinite alternate;
          animation: svg-opacity 1s infinite alternate;
}
.e-header-info__text {
  font-family: "Work Sans", sans-serif;
  line-height: 18px;
  font-weight: 500;
  padding-left: 10px;
}
@media (max-width: 767px) {
  .e-header-info__text {
    font-size: 14px;
    padding-left: 5px;
  }
}
.e-header-info__name {
  text-transform: uppercase;
  color: #1F2B6C;
}
.e-header-info__number {
  color: #159EEC;
}

.e-item-goals {
  justify-content: space-between;
  border-radius: 10px;
  padding: 25px 20px;
  min-width: 315px;
  display: flex;
}
.e-item-goals__text {
  align-items: center;
  display: flex;
}
.e-item-goals__svg {
  max-width: 50px;
  max-height: 50px;
}

.e-item-doctor {
  max-height: 540px;
  max-width: 317px;
  height: 100%;
}
.e-item-doctor__wrapper {
  border-radius: 3px;
  overflow: hidden;
}
.e-item-doctor__img {
  height: 350px;
  width: 317px;
}
@media (max-width: 479px) {
  .e-item-doctor__img {
    height: 280px;
    width: 250px;
  }
}
.e-item-doctor__text {
  background-color: #BFD2F8;
  text-align: center;
  color: #1F2B6C;
  padding: 25px 0;
}
.e-item-doctor__name {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
}
.e-item-doctor__speciality {
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  margin-bottom: 15px;
  font-weight: bold;
}
.e-item-doctor__social-link {
  justify-content: center;
  display: flex;
}
.e-item-doctor__link {
  background-color: #1F2B6C;
  border-radius: 50%;
  margin: 0 10px;
  height: 24px;
  width: 24px;
}
.e-item-doctor__btn {
  background-color: #1F2B6C;
  text-align: center;
  color: #BFD2F8;
}

.e-item-news {
  min-height: 155px;
  max-width: 485px;
  display: block;
  height: 100%;
}
.e-item-news__wrapper {
  box-shadow: 1px 1px 3px black;
  text-align: start;
  display: flex;
  height: 100%;
}
@media (max-width: 719px) {
  .e-item-news__wrapper {
    flex-direction: column;
  }
}
.e-item-news__img {
  height: 155px;
  width: 160px;
}
@media (max-width: 719px) {
  .e-item-news__img {
    max-height: 300px;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}
.e-item-news__info {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  padding: 20px;
  height: 100%;
}
.e-item-news__date-author {
  line-height: 16px;
  font-size: 14px;
  color: #159EEC;
  margin-bottom: 10px;
}
.e-item-news__article {
  font-size: 18px;
  line-height: 25px;
}
.e-item-news__svg {
  display: flex;
}
.e-item-news__see {
  margin-right: 5px;
  height: 16px;
  width: 16px;
}
.e-item-news__see svg {
  stroke: #526AE9;
}
.e-item-news__count {
  line-height: 16px;
  font-size: 14px;
  margin-right: 10px;
}
.e-item-news__like {
  margin-right: 5px;
  max-height: 16px;
  max-width: 16px;
}
.e-item-news__like svg {
  fill: #E2315C;
}

.c-banner__home {
  background-image: url(./assets/images/Banner.png);
  background-position: top center;
  background-color: #E5E4E8;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 550px;
  display: flex;
}
@media (max-width: 767px) {
  .c-banner__home {
    background-position: 76% 50%;
  }
}
.c-banner__heading {
  align-items: center;
  position: relative;
  display: flex;
}
.c-banner__text {
  max-width: 520px;
}
@media (max-width: 479px) {
  .c-banner__text {
    text-align: center;
  }
}
.c-banner__suptitle {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.16em;
  color: #159EEC;
  margin-bottom: 10px;
  font-weight: bold;
}
@media (max-width: 479px) {
  .c-banner__suptitle {
    font-size: 24px;
    font-size: 14px;
    line-height: 16px;
  }
}
.c-banner__title {
  font-family: "yeseva-one-regular", cursive;
  font-size: 48px;
  line-height: 55px;
  margin-bottom: 30px;
  color: #1F2B6C;
}
@media (max-width: 479px) {
  .c-banner__title {
    font-size: 24px;
    line-height: 25px;
  }
}
.c-banner__goals {
  justify-content: space-between;
  position: absolute;
  padding: 0 15px;
  width: 1020px;
  display: flex;
  bottom: -50px;
  z-index: 1;
  right: 0;
}
@media (max-width: 1023px) {
  .c-banner__goals {
    display: none;
  }
}

.c-footer {
  background-color: #1F2B6C;
  min-height: 430px;
  color: #fff;
  padding: 70px 0;
}
.c-footer__top {
  justify-content: space-between;
  margin-bottom: 50px;
  flex-wrap: wrap;
  display: flex;
}
@media (max-width: 684px) {
  .c-footer__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 564px) {
  .c-footer__top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
@media (max-width: 479px) {
  .c-footer__top {
    display: flex;
  }
}
.c-footer__logo {
  margin-bottom: 20px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .c-footer__logo .e-logo {
    display: flex;
  }
}
.c-footer__logo a span {
  color: #BFD2F8;
}
.c-footer__subtext {
  font-size: 18px;
  line-height: 25px;
  margin-top: 20px;
  max-width: 240px;
}
.c-footer__important {
  margin-right: 20px;
}
@media (max-width: 767px) {
  .c-footer__important {
    margin-bottom: 20px;
  }
}
.c-footer__title {
  margin-bottom: 40px;
  font-weight: 600;
  color: #fff;
}
@media (max-width: 479px) {
  .c-footer__title {
    margin-bottom: 10px;
  }
}
.c-footer__text {
  margin-bottom: 7px;
}
.c-footer__contact {
  margin-right: 20px;
}
@media (max-width: 479px) {
  .c-footer__contact {
    margin-bottom: 20px;
  }
}
.c-footer__newsletter {
  max-width: 275px;
}
.c-footer__form-mail {
  position: relative;
}
.c-footer__input-mail {
  padding: 14px 65px 14px 10px;
  background-color: #BFD2F8;
  border-radius: 5px;
  max-height: 50px;
  max-width: 270px;
  outline: none;
  border: none;
  width: 100%;
}
.c-footer__input-mail::-moz-placeholder {
  color: #1F2B6C;
}
.c-footer__input-mail:-ms-input-placeholder {
  color: #1F2B6C;
}
.c-footer__input-mail::placeholder {
  color: #1F2B6C;
}
.c-footer__btn-mail {
  background: transparent;
  position: absolute;
  cursor: pointer;
  border: none;
  height: 26px;
  bottom: 12px;
  right: 12px;
  width: 26px;
}
.c-footer__btn-mail svg {
  fill: #1F2B6C;
}
.c-footer__btn-mail svg:hover {
  fill: #00B1B1;
}
.c-footer__bottom {
  border-top: 2px solid #BFD2F8;
  justify-content: space-between;
  padding-top: 45px;
  display: flex;
}
.c-footer__social-link {
  justify-content: center;
  display: flex;
}
.c-footer__link {
  background-color: #BFD2F8;
  border-radius: 50%;
  margin: 0 10px;
  height: 24px;
  width: 24px;
}
.c-footer__link:nth-last-child(1) {
  margin: 0 0 0 10px;
}
.c-footer__link a svg {
  fill: #1F2B6C;
}
.c-footer__link:hover a svg {
  fill: #00B1B1;
}

@media (max-width: 767px) {
  .c-navigation {
    width: 100%;
    z-index: 99;
  }
}
.c-navigation__btn {
  background-color: transparent;
  position: absolute;
  width: 30px;
  height: 30px;
  display: none;
  border: none;
  right: 10px;
  top: 10px;
}
.c-navigation__btn::before, .c-navigation__btn::after {
  background-color: #fff;
  position: absolute;
  width: 30px;
  height: 1px;
  content: "";
  right: 0;
}
.c-navigation__btn::before {
  transform: rotate(45deg);
}
.c-navigation__btn::after {
  transform: rotate(-45deg);
}
@media (max-width: 767px) {
  .c-navigation__btn {
    display: block;
  }
}
.c-navigation__list {
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: flex;
}
@media (max-width: 767px) {
  .c-navigation__list {
    flex-direction: column;
    width: 100%;
  }
}
.c-navigation__item {
  margin-right: 20px;
  color: #fff;
}
@media (max-width: 767px) {
  .c-navigation__item {
    margin-bottom: 20px;
    margin-right: 0;
    font-size: 24px;
    color: #1F2B6C;
  }
}

.c-header {
  position: relative;
  z-index: 98;
}
.c-header__contact {
  justify-content: space-between;
  background-color: #fff;
  min-height: 80px;
  display: flex;
  width: 100%;
}
.c-header__logo {
  align-items: center;
  display: flex;
}
@media (max-width: 767px) {
  .c-header__logo {
    display: none;
  }
}
.c-header .c-header-block {
  align-items: center;
  display: flex;
}
@media (max-width: 767px) {
  .c-header .c-header-block .e-link {
    display: none;
  }
}
.c-header__item {
  padding: 0 10px 10px 10px;
}
@media (max-width: 767px) {
  .c-header__item {
    padding: 0 5px 5px 5px;
  }
}
.c-header__info {
  justify-content: flex-end;
  padding: 15px 0 10px;
  align-items: center;
  display: flex;
  width: 100%;
}
@media (max-width: 767px) {
  .c-header__info {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.c-header__navigation {
  background-color: #1F2B6C;
  align-items: center;
  min-height: 80px;
  display: flex;
}
.c-header__navigation .e-logo {
  display: none;
}
@media (max-width: 767px) {
  .c-header__navigation .e-logo {
    font-size: 28px;
    display: block;
  }
}
.c-header__navigation__wrapper {
  justify-content: space-between;
  display: flex;
}
@media (max-width: 329px) {
  .c-header__navigation__wrapper {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}
.c-header__nav {
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  display: flex;
}
.c-header__nav .e-link--btn {
  background-color: #1F2B6C;
  color: #BFD2F8;
  margin-top: 10px;
  display: none;
}
@media (max-width: 767px) {
  .c-header__nav {
    background-color: #BFD2F8;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    padding: 50px 0;
    display: flex;
    opacity: 0;
    top: 50px;
    right: 0;
    left: 0;
  }
  .c-header__nav.active {
    opacity: 1;
    visibility: visible;
  }
  .c-header__nav .e-link--btn {
    display: block;
  }
}
.c-header__search {
  display: flex;
}
.c-header__search--input {
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
  position: relative;
  margin-left: 30px;
  display: flex;
}
@media (max-width: 329px) {
  .c-header__search--input {
    margin-left: 0;
  }
}
.c-header__search--input .btn-search {
  background: transparent;
  cursor: pointer;
  height: 17px;
  border: none;
  width: 17px;
}
.c-header__search--input .btn-search.active {
  transform: translateY(-50%);
  position: absolute;
  max-width: 17px;
  width: 100%;
  left: 10px;
  top: 50%;
}
.c-header__search--input .e-icon {
  transition: 0.4s ease;
  position: absolute;
  color: #fff;
  cursor: pointer;
  height: 17px;
  width: 17px;
  left: 0;
  top: 0;
}
.c-header__search--input.active .e-icon {
  color: #000;
}
.c-header__search--input.active .e-icon:hover {
  color: #00B1B1;
}
.c-header__input-search {
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 22px;
  visibility: hidden;
  max-width: 300px;
  font-size: 16px;
  outline: none;
  height: 100%;
  border: none;
  opacity: 0;
  width: 0;
}
.c-header__input-search.active {
  padding: 10px 10px 10px 40px;
  visibility: visible;
  max-width: 250px;
  width: 100%;
  opacity: 1;
}

.c-section-great-place {
  text-align: center;
}
.c-section-great-place__description {
  margin: 115px auto 60px;
  max-width: 660px;
}
.c-section-great-place__subtitle {
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #159EEC;
  margin-bottom: 10px;
  font-weight: bold;
}
@media (max-width: 479px) {
  .c-section-great-place__subtitle {
    font-size: 14px;
  }
}
.c-section-great-place__title {
  font-family: "yeseva-one-regular", cursive;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 15px;
  color: #1F2B6C;
}
@media (max-width: 479px) {
  .c-section-great-place__title {
    font-size: 24px;
  }
}
.c-section-great-place__text {
  margin-bottom: 20px;
}
.c-section-great-place__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  justify-content: center;
}
.c-section-great-place__img {
  background-image: url(./assets/images/Blackdoctors1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-our-services {
  min-height: 745px;
  padding: 60px 0;
}
.section-our-services__wrapper {
  text-align: center;
}
.section-our-services__suptitle {
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #159EEC;
  font-weight: bold;
}
.section-our-services__title {
  font-family: "yeseva-one-regular", cursive;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 65px;
  color: #1F2B6C;
}
.section-our-services__tab-services {
  display: flex;
}
@media (max-width: 499px) {
  .section-our-services__tab-services {
    display: block;
  }
}
.section-our-services__navigate {
  min-height: 270px;
}
.section-our-services__tab {
  border: 1px solid #1F2B6C;
  border-radius: 5px;
}
.section-our-services__list {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  min-width: 157px;
}
@media (max-width: 499px) {
  .section-our-services__list {
    max-width: 500px;
    -moz-column-count: 2;
         column-count: 2;
    width: 100%;
  }
}
.section-our-services__item {
  padding: 23px;
  height: 100%;
}
.section-our-services__item.active {
  background-color: #1F2B6C;
  color: #BFD2F8;
}
.section-our-services__item.active svg {
  fill: #BFD2F8;
}
.section-our-services__item:hover {
  background-color: #1F2B6C;
  color: #BFD2F8;
}
.section-our-services__item:hover svg {
  fill: #BFD2F8;
}
@media (max-width: 399px) {
  .section-our-services__item {
    padding: 15px;
  }
}
@media (max-width: 319px) {
  .section-our-services__item {
    min-height: 120px;
  }
}
.section-our-services__svg svg {
  margin-bottom: 10px;
  fill: #159EEC;
  max-height: 35px;
  max-width: 35px;
}
.section-our-services__name-tab:hover {
  background-color: #1F2B6C;
  color: #BFD2F8;
}
.section-our-services__btn-tab {
  background-color: #1F2B6C;
  color: #BFD2F8;
  transition: 0.4s;
  min-width: 157px;
  padding: 12px 0;
  outline: none;
  border: none;
  width: 100%;
}
.section-our-services__btn-tab:hover {
  font-weight: 900;
}
.section-our-services__content {
  display: flex;
}
.section-our-services__content__item {
  justify-content: space-between;
  display: none;
}
@media (max-width: 749px) {
  .section-our-services__content__item {
    flex-direction: column;
  }
}
.section-our-services__content__item.active {
  display: flex;
}
.section-our-services__info {
  padding: 30px 20px;
  text-align: start;
}
@media (max-width: 749px) {
  .section-our-services__info {
    padding: 30px 20px 30px 30px;
  }
}
@media (max-width: 499px) {
  .section-our-services__info {
    padding: 30px 0;
  }
}
.section-our-services__heading {
  line-height: 30px;
  font-size: 26px;
  margin-bottom: 25px;
  font-weight: 500;
}
.section-our-services__list-goals {
  margin-bottom: 15px;
  -moz-column-count: 2;
       column-count: 2;
}
@media (max-width: 767px) {
  .section-our-services__list-goals {
    -moz-column-count: 1;
         column-count: 1;
  }
}
.section-our-services__list-goals li::before {
  background-color: #159EEC;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  height: 16px;
  width: 16px;
  content: "";
}
.section-our-services__item-goals {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 15px;
}
.section-our-services__image {
  min-width: 325px;
}
.section-our-services__image img {
  margin-bottom: 20px;
}
@media (max-width: 899px) {
  .section-our-services__image {
    min-width: 200px;
  }
}
@media (max-width: 749px) {
  .section-our-services__image {
    min-width: 200px;
    padding-left: 10px;
  }
}
@media (max-width: 499px) {
  .section-our-services__image {
    padding-left: 0px;
  }
}

.hidden {
  display: none;
}

.activet {
  display: flex;
}
@media (max-width: 749px) {
  .activet {
    display: block;
  }
}

.c-section-specialist {
  text-align: center;
  min-height: 775px;
  padding: 65px 0;
}
.c-section-specialist__suptitle {
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #159EEC;
  font-weight: bold;
}
.c-section-specialist__title {
  font-family: "yeseva-one-regular", cursive;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 65px;
  color: #1F2B6C;
}
.c-section-specialist__specialists {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 170px);
  display: grid;
}
@media (max-width: 1023px) {
  .c-section-specialist__specialists {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 170px);
  }
}
@media (max-width: 767px) {
  .c-section-specialist__specialists {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 170px);
  }
}
@media (max-width: 479px) {
  .c-section-specialist__specialists {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 170px);
  }
}
.c-section-specialist__item {
  border: 0.15px solid rgba(0, 0, 0, 0.19);
  justify-content: center;
  display: block;
}
.c-section-specialist__item a {
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 46px;
}
.c-section-specialist__item a:hover {
  background-color: #1F2B6C;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  border-radius: 5px;
}
.c-section-specialist__item a:hover svg {
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  fill: #fff;
}
.c-section-specialist__item a svg {
  fill: #159EEC;
  margin: 0 auto 10px auto;
  height: 44px;
  width: 50px;
}

.c-section-registry {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 575px;
  padding: 65px 0;
}
.c-section-registry::after {
  background-image: url(./assets/images/contact.png);
  position: absolute;
  opacity: 0.2;
  content: "";
  z-index: -1;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.c-section-registry__wrapper {
  display: flex;
}
@media (max-width: 1023px) {
  .c-section-registry__wrapper {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .c-section-registry__wrapper {
    flex-direction: column;
  }
}
.c-section-registry__title {
  font-family: "yeseva-one-regular", cursive;
  font-size: 32px;
  line-height: 37px;
  color: #159EEC;
  margin-bottom: 15px;
}
.c-section-registry__info {
  padding-right: 90px;
  max-width: 500px;
  margin: auto 0;
  width: 100%;
}
@media (max-width: 1023px) {
  .c-section-registry__info {
    margin-bottom: 50px;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-right: 0;
    max-width: none;
  }
}
.c-section-registry__regist {
  min-width: 490px;
}
@media (max-width: 519px) {
  .c-section-registry__regist {
    max-width: 490px;
    min-width: 0;
    width: 100%;
  }
}
.c-section-registry__form {
  border-radius: 5px;
  min-height: 445px;
  overflow: hidden;
}
.c-section-registry__base {
  display: flex;
}
@media (max-width: 519px) {
  .c-section-registry__base {
    flex-direction: column;
  }
}
.c-section-registry__base-left, .c-section-registry__base-right {
  flex-direction: column;
  display: flex;
  width: 50%;
}
@media (max-width: 519px) {
  .c-section-registry__base-left, .c-section-registry__base-right {
    width: 100%;
  }
}
.c-section-registry__textarea {
  background-color: #1F2B6C;
  padding: 16px 20px;
  color: #fff;
  height: 190px;
  width: 100%;
}
.c-section-registry__textarea::-moz-placeholder {
  color: #fff;
}
.c-section-registry__textarea:-ms-input-placeholder {
  color: #fff;
}
.c-section-registry__textarea::placeholder {
  color: #fff;
}
.c-section-registry__btn {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #BFD2F8;
  text-transform: uppercase;
  font-weight: 500;
  color: #1F2B6C;
  margin-top: -5px;
  outline: none;
  border: none;
  height: 50px;
  width: 100%;
}
.c-section-registry select {
  background-image: url(./assets/icon/common/svg/arrdown.svg);
  background-position: 95% 20px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  cursor: pointer;
}
.c-section-registry input, .c-section-registry select {
  background-color: #1F2B6C;
  border: 1px solid #BFD2F8;
  padding: 16px 20px 12px;
  color: #fff;
  outline: none;
  height: 50px;
}
.c-section-registry input::-moz-placeholder, .c-section-registry select::-moz-placeholder {
  color: #fff;
}
.c-section-registry input:-ms-input-placeholder, .c-section-registry select:-ms-input-placeholder {
  color: #fff;
}
.c-section-registry input::placeholder, .c-section-registry select::placeholder {
  color: #fff;
}

.c-section-our-doctors {
  min-height: 850px;
}
@media (max-width: 479px) {
  .c-section-our-doctors__wrapper {
    padding: 0;
  }
}
.c-section-our-doctors__item {
  overflow: hidden;
}
@media (max-width: 479px) {
  .c-section-our-doctors__item {
    width: 255px;
  }
}
.c-section-our-doctors__text {
  text-align: center;
  margin: 65px 0;
}
.c-section-our-doctors__sub-title {
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #159EEC;
  margin-bottom: 10px;
  font-weight: bold;
}
.c-section-our-doctors__title {
  font-family: "yeseva-one-regular", cursive;
  font-size: 32px;
  line-height: 37px;
  color: #1F2B6C;
}
.c-section-our-doctors .swiper {
  padding-top: 30px;
}
.c-section-our-doctors .swiper-pagination {
  position: static;
  margin-top: 30px;
}
@media (max-width: 479px) {
  .c-section-our-doctors .swiper-pagination {
    margin-top: 40px;
  }
}
.c-section-our-doctors .swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 24px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 24px));
}
@media (max-width: 479px) {
  .c-section-our-doctors .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
  }
}
.c-section-our-doctors .swiper-pagination-bullet-active {
  background: var(--swiper-pagination-color, #1F2B6C);
}
.c-section-our-doctors .swiper-slide {
  justify-content: center;
  transition: 0.4s ease;
  display: flex;
}
@media (max-width: 479px) {
  .c-section-our-doctors .swiper-slide {
    max-width: 250px;
    opacity: 0.5;
  }
}
@media (max-width: 479px) {
  .c-section-our-doctors .swiper-slide-active {
    transform: scale(1.1);
    opacity: 1;
  }
}

.swiper-pagination {
  position: static;
  margin-top: 30px;
}
@media (max-width: 479px) {
  .swiper-pagination {
    margin-top: 40px;
  }
}
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 24px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 24px));
}
@media (max-width: 479px) {
  .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 10px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 10px));
  }
}
.swiper-pagination-bullet-active {
  background: var(--swiper-pagination-color, #1F2B6C);
}

.c-section-news {
  min-height: 635px;
  padding: 65px 0;
}
.c-section-news__wrapper {
  text-align: center;
}
.c-section-news__wrapper .swiper {
  padding-bottom: 10px;
  margin: 0 auto;
  padding: 15px;
  height: 100%;
  width: 100%;
}
.c-section-news__wrapper .swiper-wrapper {
  display: flex;
}
.c-section-news__wrapper .swiper-slide {
  max-width: 485px;
  height: auto;
}
.c-section-news__suptitle {
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #159EEC;
  margin-bottom: 10px;
  font-weight: bold;
}
.c-section-news__title {
  font-family: "yeseva-one-regular", cursive;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 65px;
  color: #1F2B6C;
}
.c-section-news__item {
  height: 100%;
}

.c-section-contact {
  min-height: 490px;
}
.c-section-contact__wrapper {
  text-align: center;
  padding: 65px 0;
}
.c-section-contact__suptitle {
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #159EEC;
  font-weight: bold;
}
.c-section-contact__title {
  font-family: "yeseva-one-regular", cursive;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 65px;
  color: #1F2B6C;
}
.c-section-contact__info {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 235px;
  display: grid;
  gap: 20px;
}
@media (max-width: 1023px) {
  .c-section-contact__info {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 235px);
    padding: 0 20px;
  }
}
@media (max-width: 549px) {
  .c-section-contact__info {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 235px);
    padding: 0 20px;
  }
}
.c-section-contact__item {
  background-color: #BFD2F8;
  color: #1F2B6C;
}
.c-section-contact__item:hover {
  background-color: #1F2B6C;
}
.c-section-contact__item a {
  flex-direction: column;
  padding: 50px 22px;
  text-align: start;
  display: flex;
}
.c-section-contact__item a:hover {
  color: #BFD2F8;
}
.c-section-contact__item a svg {
  margin-bottom: 15px;
  height: 40px;
  width: 40px;
}
.c-section-contact__item a .e-text-1 {
  font-size: 18;
  margin-bottom: 8px;
  font-weight: bold;
}
.c-section-contact__item a .e-text-2 {
  margin-bottom: 5px;
}

@-webkit-keyframes box-shadow-block {
  0% {
    box-shadow: 1px 1px 1px 1px black;
  }
  33% {
    box-shadow: 3px 3px 3px 3px black;
  }
  100% {
    box-shadow: 5px 5px 5px 5px black;
  }
}

@keyframes box-shadow-block {
  0% {
    box-shadow: 1px 1px 1px 1px black;
  }
  33% {
    box-shadow: 3px 3px 3px 3px black;
  }
  100% {
    box-shadow: 5px 5px 5px 5px black;
  }
}
@-webkit-keyframes svg-opacity {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes svg-opacity {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.1;
  }
}