extends ./src/_extends/common

block title 
  title EXAM-2

block content
  +header()
  +banner()
  +section-great-place()
  +section-our-services()
  +section-specialist()
  +section-registry()
  +section-our-doctors()
  +section-news()
  +section-map()
  +section-contact()
  +footer()