extends ./src/_extends/common

block title 
  title EXAM-2

block content
  +header()
  +banner()
  +section-great-place()
  //- +section-our-services()
  +section-specialist()
  //- +section-subscribe()
  +section-our-doctors()
  //- +section-contact()
  +section-contact()
  +footer()