extends ./src/_extends/common

block title 
  title EXAM-2

block content
  +banner()
  +section-great-place()
  //- +section-our-services()
  //- +section-gallery()
  //- +section-subscribe()
  +section-our-doctors()
  //- +section-contact()
  //- +footer()