mixin item-header-info(args)
  - let name = args.name || 'Default text';
  - let number = args.number || 'Default text';
  - let svgName = args.svgName || 'heart-plus';
  - let style = args.style || '';

  .e-header-info 
    .e-header-info__wrapper 
      .e-header-info__svg(style=style)
        +icon({
          svgLink: svgName,
        })
      .e-header-info__text 
        p.e-header-info__name=name
        p.e-header-info__number=number