mixin item-doctor(args)
  - let srcImg = args.srcImg || 'default link';
  - let name = args.name || '';
  - let speciality = args.speciality || '';
  - let linkInstagram = args.linkInstagram || '#';
  - let linkLinkedIn = args.linkLinkedIn || '#';
  - let linkFacebook = args.linkFacebook || '#';


  .e-item-doctor
    .e-item-doctor__wrapper
      .e-item-doctor__img 
        +image({
          src: srcImg,
          alt: 'doctor'
        })
      .e-item-doctor__text
        .e-item-doctor__name=name
        .e-item-doctor__speciality=speciality
        .e-item-doctor__social-link 
          .e-item-doctor__link
            +link({
              href: linkLinkedIn,
              target: '_blank',
              endIcon: 'linkedin',
              btnProfile: true
            })
          .e-item-doctor__link
            +link({
              href: linkFacebook,
              target: '_blank',
              endIcon: 'facebook',
              btnProfile: true
            })
          .e-item-doctor__link
            +link({
              href: linkInstagram,
              target: '_blank',
              endIcon: 'instagram',
              btnProfile: true
            })
      .e-item-doctor__btn
        +link({
          href: '#',
          text: 'View Profile',
          viewProfile: true
        })