.c-banner {
  &__home {
    background-image: url(./assets/images/Banner.png);
    background-position: top center;
    background-color: $c-bg-color;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px;
    display: flex;

    @include media("<tablet") {
      background-position: 76% 50%;
    }
  }

  &__heading {
    align-items: center;
    position: relative;
    display: flex;
  }

  &__text {
    max-width: 520px;

    @include media("<phone") {
      text-align: center;
    }
  }

  &__suptitle {
    font-family: $f-work-sans-bold;
    font-size: $fs-caption + px;
    text-transform: uppercase;
    line-height: $lh-sub + px;
    letter-spacing: 0.16em;
    color: $c-secondary;
    margin-bottom: 10px;
    font-weight: bold;

    @include media("<phone") {
      font-size: $fs-title-sm + px;
      font-size: $fs-small + px;
      line-height: $lh-sm + px;
    }
  }

  &__title {
    font-family: $f-yeseva-one-regular;
    font-size: $fs-display1 + px;
    line-height: $lh-big + px;
    margin-bottom: 30px;
    color: $c-primary;

    @include media("<phone") {
      font-size: $fs-title-sm + px;
      line-height: $lh-name + px;
    }
  }

  &__goals {
    justify-content: space-between;
    position: absolute;
    padding: 0 15px;
    width: 1020px;
    display: flex;
    bottom: -50px;
    z-index: 1;
    right: 0;

    @include media("<desktop") {
      display: none;
    }
  }
}