.c-footer {
  background-color: $c-primary;
  min-height: 430px;
  color: $c-white;
  padding: 70px 0;

  &__top {
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
    display: flex;

    @include media ('<685px') {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    @include media ('<565px') {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }

    @include media ('<phone') {
      display: flex;
    }
  }

  &__logo {
    margin-bottom: 20px;
    margin-right: 20px;

    & .e-logo {
      @include media ('<tablet') {
        display: flex;
      }
    }
  }

  &__logo a span {
    color: $c-accent;
  }

  &__subtext {
    font-size: $fs-caption + px;
    line-height: $lh-name + px;
    margin-top: 20px;
    max-width: 240px;
  }

  &__important {
    margin-right: 20px;

    @include media ('<tablet') {
      margin-bottom: 20px;
    }
  }

  &__title {
    margin-bottom: 40px;
    font-weight: $fw-6;
    color: $c-white;

    @include media ('<phone') {
      margin-bottom: 10px;
    }
  }

  &__text {
    margin-bottom: 7px;
  }

  &__contact {
    margin-right: 20px;

    @include media ('<phone') {
      margin-bottom: 20px;
    }
  }
  
  &__newsletter {
    max-width: 275px;
  }

  &__form-mail {
    position: relative;
  }

  &__input-mail {
    padding: 14px 65px 14px 10px;
    background-color: $c-accent;
    border-radius: 5px;
    max-height: 50px;
    max-width: 270px;
    outline: none;
    border: none;
    width: 100%;
    
    &::placeholder {
      color: $c-primary ;
    }
  }

  &__btn-mail {
    background: transparent;
    position: absolute;
    cursor: pointer;
    border: none;
    height: 26px;
    bottom: 12px;
    right: 12px;
    width: 26px;

    & svg {
      fill: $c-primary;

      &:hover {
        fill: $c-turquoise;
      }
    }
  }

  &__bottom {
    border-top: 2px solid $c-accent;
    justify-content: space-between;
    padding-top: 45px;
    display: flex;
  }

  &__social-link {
    justify-content: center;
    display: flex;
  }

  &__link {
    background-color: $c-accent;
    border-radius: 50%;
    margin: 0 10px;
    height: 24px;
    width: 24px;

    &:nth-last-child(1) {
      margin: 0 0 0 10px;
    } 

    & a svg {
      fill: $c-primary;
    }

    &:hover a svg {
      fill: $c-turquoise
    }
  }
}