.c-navigation {
  @include media("<tablet") {
    width: 100%;
    z-index: 99;
  }
  &__btn {
    background-color: transparent;
    position: absolute;
    @include size(30);
    display: none;
    border: none;
    right: 10px;
    top: 10px;

    &::before,
    &::after {
      background-color: $c-white;
      position: absolute;
      width: 30px;
      height: 1px;
      content: "";
      right: 0;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    @include media('<tablet') {
      display: block;
    }
  }

  &__list{
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;

    @include media("<tablet") {
      flex-direction: column;
      width: 100%;
    }
  }

  &__item {
    margin-right: 20px;
    color: $c-white;

    @include media("<tablet") {
      margin-bottom: 20px;
      margin-right: 0;
      font-size: 24px;
      color: $c-primary;
    }
  }
}