.c-section-great-place {
  text-align: center;

  &__description {
    margin: 115px auto 60px;
    max-width: 660px;
  }

  &__subtitle {
    font-size: $fs-caption + px;
    line-height: $lh-sub + px;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    color: $c-secondary;
    margin-bottom: 10px;
    font-weight: bold;

    @include media("<phone") {
      font-size: $fs-sm + px;
    }
  }

  &__title {
    font-family: $f-yeseva-one-regular;
    font-size: $fs-display2 + px;
    line-height: $lh-title + px;
    margin-bottom: 15px;
    color: $c-primary;

    @include media("<phone") {
      font-size: $fs-sm-title + px;
    }
  }

  &__text {
    margin-bottom: 20px;
  }

  &__btn {
    width: fit-content;
    display: inline-block;
    justify-content: center;
  }

  &__img {
    background-image: url(./assets/images/Blackdoctors1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
