.c-section-contact {
  min-height: 490px;

  &__wrapper {
    text-align: center;
    padding: 65px 0;
  }

  &__suptitle {
    text-transform: uppercase;
    letter-spacing: $ls-base;
    color: $c-secondary;
    font-weight: bold;
  }

  &__title {
    font-family: $f-yeseva-one-regular;
    font-size: $fs-display2 + px;
    line-height: $lh-title + px;
    margin-bottom: 65px;
    color: $c-primary;
  }

  &__info {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 235px;
    display: grid;
    gap: 20px;

    @include media ('<desktop') {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 235px);
      padding: 0 20px;
    }

    @include media ('<550px') {
      grid-template-columns:  1fr;
      grid-template-rows: repeat(4, 235px);
      padding: 0 20px;
    }
  }

  &__item {
    background-color: $c-accent;
    color: $c-primary;

    &:hover {
      background-color: $c-primary;
    }

    & a {
      flex-direction: column;
      padding: 50px 22px;
      text-align: start;
      display: flex;

      &:hover {
        color: $c-accent;
      }
    }

    & a svg {
      margin-bottom: 15px;
      height: 40px;
      width: 40px;
    }

    & a .e-text-1 {
      font-size: $fs-caption;
      margin-bottom: 8px;
      font-weight: bold;
    }

    & a .e-text-2 {
      margin-bottom: 5px;
    }
  }
}