.e-item-doctor {
  max-height: 540px;
  max-width: 317px;
  height: 100%;

  &__wrapper {
    border-radius: 3px;
    overflow: hidden;
  }

  &__img {
    height: 350px;
    width: 317px;

    @include media ('<phone') {
      height: 280px;
      width: 250px;
    }
  }

  &__text {
    background-color: $c-accent;
    text-align: center;
    color: $c-primary;
    padding: 25px 0;
  }

  &__name {
    font-size: $fs-caption + px;
    line-height: $lh-name + px;
    margin-bottom: 10px;
  }

  &__speciality {
    font-size: $fs-caption + px;
    line-height: $lh-sub + px;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    margin-bottom: 15px;
    font-weight: bold;
  }

  &__social-link {
    justify-content: center;
    display: flex;
  }

  &__link {
    background-color: $c-primary;
    border-radius: 50%;
    margin: 0 10px;
    height: 24px;
    width: 24px;
  }

  &__btn {
    background-color: $c-primary;
    text-align: center;
    color: $c-accent;
  }
}