.e-link {
  transition: $t-normal;
  display: inline-block;

  &--btn {
    font-family: $f-work-sans-medium;
    background-color: $c-accent;
    border-radius: 22px;
    font-weight: $fw-5;
    padding: 13px 35px;
    color: $c-primary;

    &:hover {
      background-color: $c-accent;
      color: $c-turquoise;
    }
  }

  &--arrow-style {
    color: $c-secondary;
    padding: 10px;

    &:hover .e-link--easy-btn {
      stroke: $c-turquoise;
    }
  }

  &--easy-btn {
    stroke: #1F2B6C;
    margin-left: 10px;
    max-height: 10px;
    max-width: 10px;
  }

  &--btn-profile {
    align-items: center;
    fill: $c-accent;
    display: flex;
    height: 12px;
    width: 12px;
  }

  &--profile {
    padding: 6px;

    &:hover svg {
      fill: $c-turquoise;
    }
  }

  &--burger-icon {
    display: none;
  }

  &--view-profile {
    padding: 12px 0;
    display: block;
  }
}

#active {
  font-weight: $fw-6;
  color: $c-accent;

  @include media("<tablet") {
    color: $c-primary;
  }
}