.e-logo {
  font-family: $f-yeseva-one-regular;
  line-height: $lh-logo + px;
  font-size: $fs-logo + px;
  display: inline-block;
  flex-direction: row;
  width: fit-content;

  @include media("<tablet") {
    display: none;
  }

  &:hover {
    transform: scale(1.1);
    transition: $t-normal;
  }

  &__text1 {
    color: $c-primary;

    @include media("<tablet") {
      color: $c-accent;
    }
  }

  &__text2 {
    color: $c-secondary;

    @include media("<tablet") {
      color: $c-white;
    }
  }
}